.footer {
  background-color: #162a2a; /* Light background color */
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px; /* Limit the width */
  margin: 0 auto;
}

.socialLinks,
.quickLinks,
.popularCategories,
.subscribe {
  margin: 20px 0;
}

h4 {
  margin-bottom: 10px;
}

a {
  color: #0ec2cf; /* Link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footerBottom {
  margin-top: 20px;
  font-size: 14px;
  color: #11151a; /* Darker text color */
}
